extends layout

block content
  .pseudo-hidden
    input#midi-keyboard(type='text')

  .mx-2
    .my-2
      .tracker
        #spreadsheet

    .mt-2
      .nav
        ul.flex
          li.flex-1.mr-2
            a.nav-link.active(class='' href='#' data-target='configuration') Configuration
          li.flex-1.mr-2
            a.nav-link(class='' href='#' data-target='synth-controls') Synth Controls

    .settings
      #configuration.panel
        .flex
          .overflow-y-auto.p-5(class='w-1/2')
            h2.text-2xl.mb-4 Files
            .mb-5
              form.mb-2
                label.flex.items-center
                  span(class='w-1/4')
                    | Instruments File
                  .flex(class='w-3/4')
                    input#instruments-file.input.inline-flex.mr-2(type='text' name='file' value='~/code/compositions/proof/instruments.json')
                    button#load-instruments-file.btn-white.btn-normal Load
              form.mb-2
                label.flex.items-center
                  span(class='w-1/4')
                    | Tracker File
                  .flex(class='w-3/4')
                    input#tracker-file.input.inline-flex.mr-2(type='text' name='file' value='~/code/compositions/proof/tracker.csv')
                    button#load-tracker-file.btn-white.btn-normal Load

          form.overflow-y-auto.p-5(class='w-1/2')
            h2.text-2xl Instruments
            #instruments
            .mb-5
              .flex
                div(class='w-1/4')
                div(class='w-3/4')
                  button#add-instrument.btn-green.btn-normal Add Instrument

      #synth-controls.panel.hidden
        #synth-controls-chart


  script(type='text/template' id='instrument-template')
    <div class='instrument my-5'>
      <input class='instrument-number' type='hidden' value='<%= instrument.number %>'>
      <div class='mb-2'>
        <label class='flex items-center'>
          <span class='w-1/4'>Name</span>
          <div class='inline-block w-3/4'>
            <input class='input instrument-name' type='text' value='<%= instrument.name %>'>
          </div>
        </label>
      </div>
      <div class='mb-2 synth-selection-container'>
        <label class='flex items-center'>
          <span class='w-1/4'>Synth</span>
          <div class='inline-block relative w-3/4'>
            <select class='input synth-selection'>
              <% _.each(synths, function(synth) { %>
                <option value='<%= synth %>' <%= synth == instrument.instrument ? 'selected="selected"' : '' %> >
                  <%= synth %>
                </option>
              <% }); %>
            </select>
            <div class='select-arrow'>
              <svg class='fill-current h-4 w-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'>
                <path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'></path>
              </svg>
            </div>
          </div>
        </label>
      </div>
      <div class='mb-2 soundfont-path-container hidden'>
        <label class='flex items-center'>
          <span class='w-1/4'>Path</span>
          <div class='inline-block w-3/4'>
            <input class='input soundfont-path' type='text' value='<%= instrument.soundFontPath %>'>
          </div>
        </label>
      </div>
      <div class='mb-4'>
        <label class='flex items-center'>
          <span class='w-1/4'>MIDI Channel</span>
          <div class='inline-block relative w-3/4'>
            <select class='input midi-channel'>
              <% _.each(instrument.availableMidiChannels, function(channel) { %>
                <option value='<%= channel %>' <%= channel == instrument.midiChannel ? 'selected="selected"' : '' %> >
                  <%= channel == 0 ? '0 (Off)' : channel %>
                </option>
              <% }); %>
            </select>
            <div class='select-arrow'>
              <svg class='fill-current h-4 w-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'>
                <path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'></path>
              </svg>
            </div>
          </div>
        </label>
      </div>
      <div class='mb-4'>
        <div class='flex'>
          <span class='w-1/4'></span>
          <div class='inline-block w-1/4'>
            <div class='text-center'>
              <button class='remove-instrument btn-blue btn-normal'>
                <div class='inline-block align-middle mr-1'>
                  <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-copy'>
                    <rect x='9' y='9' width='13' height='13' rx='2' ry='2'></rect>
                    <path d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1'></path>
                  </svg>
                </div>
                <div class='inline-block align-middle'>Clone</div>
              </button>
            </div>
          </div>
          <div class='inline-block w-1/4'>
            <div class='text-center'>
              <button class='remove-instrument btn-purple btn-normal'>
                <div class='inline-block align-middle mr-1'>
                  <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sliders'>
                    <line x1='4' y1='21' x2='4' y2='14'></line>
                    <line x1='4' y1='10' x2='4' y2='3'></line>
                    <line x1='12' y1='21' x2='12' y2='12'></line>
                    <line x1='12' y1='8' x2='12' y2='3'></line>
                    <line x1='20' y1='21' x2='20' y2='16'></line>
                    <line x1='20' y1='12' x2='20' y2='3'></line>
                    <line x1='1' y1='14' x2='7' y2='14'></line>
                    <line x1='9' y1='8' x2='15' y2='8'></line>
                    <line x1='17' y1='16' x2='23' y2='16'></line>
                  </svg>
                </div>
                <div class='inline-block align-middle'>Restore Defaults</div>
              </button>
            </div>
          </div>
          <div class='inline-block w-1/4'>
            <div class='text-center'>
              <button class='remove-instrument btn-red btn-normal'>
                <div class='inline-block align-middle mr-1'>
                  <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'>
                    <polyline points='3 6 5 6 21 6'></polyline>
                    <path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path>
                    <line x1='10' y1='11' x2='10' y2='17'></line>
                    <line x1='14' y1='11' x2='14' y2='17'></line>
                  </svg>
                </div>
                <div class='inline-block align-middle'>Remove</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

  script.
    window.defaultSynthParameters = JSON.parse(`!{defaultSynthParameters}`);

  script(src='/lodash/lodash.js')
  script(src='/papaparse/papaparse.min.js')
  script(src='/handsontable/handsontable.full.min.js')
  script(src='/highcharts/highcharts.js')
  script(src='/highcharts/modules/draggable-points.js')
  script(src='/feather-icons/feather.min.js')

  script(src='/javascripts/index.js' type='module')
